@charset "UTF-8";



/* Mobile */
@media ( max-width : 600px) {
	.rating-buttons label {
		width: 50px;
		height: 50px;
		font-size: 1.5em;
	}
	.evaluation-area {
		padding: 15px;
	}
}

.evaluation-area {
	padding: 15px;
}


/* effetto particle */
.particle {
  position: absolute;
  top: 50%;   /* parte dal centro del contenitore relativo */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;
  animation: particleMove 600ms forwards;
}

@keyframes particleMove {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(0);
    opacity: 0;
  }
}


