@charset "UTF-8";

/* Sile dei primi due contenitori - layer di base*/

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}



.inner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	box-sizing: border-box;
	gap: 20px;
	height: 100vh;
}
