<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz Online</title>
<link rel="stylesheet" th:href="@{/quiz.css}">
<link rel="stylesheet" th:href="@{/buttons.css}">
<link rel="stylesheet" th:href="@{/autovalutazione.css}">
</head>



<body>
	<div class="container">

		<div class="inner-container">

			<div class="card">

				<div class="card-header">
					<span th:text="'Domanda n° ' + ${quizIndex} + ' : '"></span>

					<h5 class="card-title" th:text="'- ' + ${question.question} + ' -'">Domanda
						qui</h5>
				</div>



				<div class="card-body">

					<div class="logo-container"
						onclick="this.classList.toggle('flipped')">
						<div class="logo-card">
							<!-- Fronte -->
							<div class="logo-front">
								<img class="logo" alt="sfondo quiz"
									th:src="@{/immagini/quiz-sfondo.jpg}">
							</div>

							<!-- Retro -->
							<div class="logo-back">
								
								<div class="hint">
									<p>
										<strong>Suggerimento:</strong> <span
											th:text="${question.hint}">Suggerimento qui</span>
									</p>
								</div>
								
								<div class="answer">

									<p>
										<strong>Risposta:</strong> <span
											th:text="${question.fullAnswer}">Risposta completa qui</span>
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="evaluation-area">
						
						<p>La mia risposta è stata :</p>
						
						<form th:action="@{/quiz/evaluate}" method="post" class="rating-form">
							<input type="hidden" name="quizIndex" th:value="${quizIndex}" />

							<div class="rating-buttons">
					            <input type="radio" id="rate1" name="rating" value="1" required onchange="this.form.submit()">
					            <label for="rate1">😞</label>
					
					            <input type="radio" id="rate2" name="rating" value="2" onchange="this.form.submit()">
					            <label for="rate2">😕</label>
					
					            <input type="radio" id="rate3" name="rating" value="3" onchange="this.form.submit()">
					            <label for="rate3">😐</label>
					
					            <input type="radio" id="rate4" name="rating" value="4" onchange="this.form.submit()">
					            <label for="rate4">🙂</label>
					
					            <input type="radio" id="rate5" name="rating" value="5" onchange="this.form.submit()">
					            <label for="rate5">😁</label>
					        </div>
						</form>
					</div>
				</div>
			</div>

			<!--  AREA DEI BOTTONI CON AZIONI ------------------------------------------------------------------------------ -->
			<div class="button-area final-buttons">
				
				<div class = "quiz-actions">
		
							<form th:action="@{/quiz/prev}" method="get" th:if="${quizIndex > 0}">
								<input type="hidden" name="quizIndex" th:value="${quizIndex}" />
								<button class="btn prec" type="submit">⬅ Domanda precedente</button>
							</form>
		
							<form th:action="@{/quiz/next}" method="get" th:if="${quizIndex < total}">
								<input type="hidden" name="quizIndex" th:value="${quizIndex}" />
								<button class="btn next" type="submit">Skip domanda ➡</button>
							</form>
				</div>


				<div class="quiz-end-actions">

					<form th:action="@{/feedback}">
						<button class="btn end">Concludi il quiz  e  Visualizza risultati</button>
					</form>
				</div>

			</div>

		</div>
		
	</div>
	
</body>
</html>
